<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Quora</title>
    <link rel="icon" href="img/title.png" type="" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
<!-- Navigation -->
<span th:text="${logged}"></span>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mylogo" th:href="@{index}"></a>
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-edit"></i> Answer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifications</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 col-md-5">
                <input class="myform-control mr-sm-2" type="search" placeholder="Search Quora" aria-label="Search">
                <button class="btn btn-light"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav><!-- End of Navigation-->

<!-- Page Content -->
<!-- /.container -->

<div class = "container">
    <div class="row">
        <div id = "cont" class="col-sm-4">.col-sm-4</div>
        <div id = "cont" class="col-sm-4">
            <form action="#" th:action="@{/addquestion}" th:object="${question}" enctype="multipart/form-data" method="post">
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <input class="uk-input" style = "width:100%;" id="form-horizontal-text" th:field="*{question_content}" name = "title" type="text" placeholder="Ask question!">
                    </div>
                </div>
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                    </div>
                    <button class="uk-button uk-button-default">Submit</button>
                </div>


            </form>
        </div>
        <div id = "cont" class="col-sm-4">.col-sm-4</div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <ul class="nav nav-tabs " role="tablist">
                    <li role="presentation" class="active"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">Add Questions</a>

                    </li>
                </ul>

                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="well">
                    <h6>Tips on getting good answers quickly</h6>
                    <ul>
                        <li ><i class="far fa-check-circle" style="color:#329bff"> </i> Make sure your question hasn't been asked already</li>
                        <li><i class="far fa-check-circle" style="color:#329bff"> </i> Keep your question short and to the point</li>
                        <li><i class="far fa-check-circle" style="color:#329bff"> </i> Double-check grammar and spelling</li>
                    </ul>
                </div>
                <div class="post__author author vcard inline-items">
<!--                    <img src="img/avatar.png" height="48px" width="48px" class="img-responsive" />-->
                    <div class="author-date">
                        <a class="h6 post__author-name fn" href="#">Samuel Tesfabruk</a>
                        <div class="post__date">
                            <time class="published" datetime="2004-07-24T18:18">

                            </time>


                        </div>
                    </div>
                </div>


                <div class="input-group">

                    <textarea class="form-control" aria-label="With textarea"></textarea>


                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" style="background-color: #3a66ad; color: white;">Add Question</button>
                <button type="button" class="btn btn"  data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>